
<div class="row">
    <button (click) = "loadFromDb()" (click)="myModal.open()">Add to collection</button>
    <modal #myModal>
        <modal-header>
            <a>Click collection to add to it.</a>
        </modal-header>
        <modal-content>
            <a [hidden] = collectionsExist href = "https://lab5-ammarmz.c9users.io:8080/collections">No collections exist go to Collections to make one</a>
            <button (click) = "onClick($event,item)" *ngFor= "let item of collectionLinks3"> {{item}}</button>
        </modal-content>
        <modal-footer>
        </modal-footer>
    </modal>
</div>

