<div style="text-align:center">

<nav [hidden] = aboutHide>
<h1>About</h1>
  <p font size = "15px">
    This website allows users to view the top rated NASA pictures. Users can register and create their own image collection by searching. Registered users can
    rate other public collections.
  </p>
</nav>
  
<div [hidden] = aboutHide style="text-align:center">
  <button routerLink = "/login" routerLinkActive = "active" (click) = "showLoginAuth()">Login/Register</button>
  
<!--first page you see when you visit website-->

</div>
<br>

<div style="text-align:center">
  <button routerLink = "/policy" routerLinkActive = "active" (click) = "nothing()" >View Privacy Policy/DMCA</button>
  
</div>

<br><br>
<div style="text-align:center" >
        <b (click) = 'getPublicCollections()'>Public collections:</b>
        <div *ngFor = "let item of pubArray" style ="text-align:right">
       <button (click) = "loadCollection(item)">{{item}}</button>
    </div>
    <div *ngFor ="let item2 of pubImgArray">
     <img src = {{item2}}>   
     
     <!--have to click on public colletions for them to appear due to async task that i could not figure out for the life of me-->
 
</div>
</div>