
<div routerLink ='/homeScreen' *ngIf="afAuth.authState | async; let user; else showLogin">
    <button (click) = "routeToHS()">Go back to home screen</button>
     <button (click) = "logout()">Logout?</button>
</div>
    <ng-template #showLogin style="text-align:center">
        <h1>Welcome to {{ title }}</h1>
    <form id = "logRegForm">
        Username: <input type ="text" name = "uName" #name><br>
        Password: <input type ="password" name = "pWord" #pass><br>
        <div [hidden] = passCheck>
            Re-enter Password:<input type ="password" name = "pWord" #pass2><br>
        </div>
    </form>
      <p>Please login or Register.</p>
      <button (click)="register(name.value,pass.value,pass2.value)">Register</button>
      <button (click) = "login(name.value,pass.value)">Login</button>
      
    </ng-template>